body {

    background-image: url("support/tbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url('support/tmouse.png'), auto;
    background-size: cover;
    color: black;
    font-family: verdana
}
a
{
    cursor: url('support/cmouse.png'), auto;
}
.navbar {
    width: 300px;
    text-decoration: none
}
h1 {
    padding-left: 1em;
    color: white;
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 40px;
}
p {
    color: black;
    font-family: "Trebuchet MS";
    font-size: 20px;
}
li {
    display: inline;
    padding-left: 50px;
}
.blocka {
    background: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 0.0007em;
    border-radius: 1em;
}
.pfp {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    float: left;
    height: 8em;
    padding-right: 1em;
}
.head {
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    float: left;
    padding-right: 1em;
}
.bio
{
    padding: 3em
}
et {
    width: 300px;
    height: 500px;
        border-radius: 1em;
}